*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/views/login/assets/img/fondo.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}


form {
    height: 550px;
    width: 320px;
    background-color: rgba(217, 217, 217, 0.712);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 30px;
    backdrop-filter: blur(2.5px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 40px 20px;
}

form * {

    font-family: 'Poppins', sans-serif;
    color: #000000;
    letter-spacing: 0px;
    outline: none;
    border: none;


}

.img {
    text-align: center;
}

form img {

    width: 120px;
    height: 130px;
}

form h4 {
    text-align: center;

}

form p {
    margin: 15px;
    text-align: center;
    font-size: 12px;
}

.d1 {
    font-size: 14px;
    text-transform: uppercase;
}

label {
    display: block;
    margin-top: 25px;
    font-size: 15px;
    font-weight: 500;
}

input {
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.144);
    display: block;
    height: 46px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 7px;
    padding: 0 10px;
    margin-top: 0px;
    font-size: 14px;
    font-weight: 300;
}
form a{
    margin: 15px;
    text-align: center;
    font-size: 12px;
    color: #000000;
}

::placeholder {
    font-weight: bold;
}

.btn-grow-ellipse {
    margin-top: 30px;
    width: 100%;
    background-color: #204033;
    color: #ffffff;
    padding: 15px 0;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
}

.btn-grow-ellipse {
    margin-top: 15px;
    background: #ffffff;
    color: #204033;
    border: 2px solid #204033;
    padding: 16px 20px;
    border-radius: 30px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    justify-content: center;
}

.btn-grow-ellipse:hover {
    color: #ffffff;
    background-color: #204033;
}

.btn-grow-ellipse::after {
    background: #204033;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    border-radius: 50%;
    left: -50%;
    right: -50%;
    top: -150%;
    bottom: -150%;
    transform: scale(0, 0);
    transition: all 0.4s ease;
    
}

.btn-grow-ellipse:hover::after {
    transition: all 0.6s ease-out;
    transform: scale(1, 1);
}

.frcontac {
    position: fixed;
    bottom: 20px; 
    right: 15px;  
    background-color: rgba(217, 217, 217, 0.712);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 200px; 
    text-align: center;
    z-index: 1000;
}

.ds1 {
    font-size: 16px;
    margin-bottom: 0px;
}

.imgwsp img {
    width: 30px;
    height: 30px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.contacto {
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
}

.contacto label{
    margin: 0px;
}
.btn-grow-ellipse-contac {
    background-color: rgba(217, 217, 217, 0.404);
    color: #000000; 
    border: 2px solid #c2060600; 
    padding: 10px 20px; 
    border-radius: 5px;  
    font-size: 16px; 
    cursor: pointer; 
    text-align: center; 
    display: inline-block;
}