main {
    display: flex;

    h2 {
    margin: 20px;
    }
}

.container__section h2 {
    text-align:center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container__general{
    width: 100%;
    max-width: 100%; /* Ajusta este valor según tu preferencia */
    max-height: 675px;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px;
    overflow: auto; /* Permite el scroll si el contenido excede el alto máximo */
    margin: 0 auto; /* Centra horizontalmente */

}
.container__conductas {
    width: calc(100vw - 221px - 40px);
    margin: 20px;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section_conductas_bimestre1 {
    height: 80px;
    position: relative;
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    box-shadow: 5px 5px 5px #0004;
    padding: 0 20px;
    transition: height 0.5s, margin 0.5s;
    
}

.conductas_contain {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.conductas_contain div:nth-child(1) {
    display: flex;
    justify-content: center;
    font-size: 24px;
    align-items: center;
    gap: 10px;
}

.conductas_contain div:nth-child(1) i {
    font-size: 26px;
}

.conductas_contain div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}

.conductas_contain div:nth-child(2) span {
    color: #fff;
    padding: 7px 20px;
    border-radius: 100px;
}

.notas__bim {
    position: absolute;
    left: -1px;
    bottom: 0;
    opacity: 0;
    width: calc(100vw - 222px - 40px);
    height: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    background-color: #eee;
    box-shadow: 5px 5px 5px #0004;
    transition: all 0.5s;
}

.notas__bim div {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.notas__bim div h3 {
    margin-bottom: 3px;
}

.activate {
    height: auto;
    padding: 32px 0;
    opacity: 1;
    bottom: -135px;
}

.activate_btn {
    bottom: -160px;
    transform: rotate(180deg);
} 


#btn_1, #btn_2, #btn_3, #btn_4{
    cursor: pointer;
    width: 80px;
    height: 30px;
    position: absolute;
    bottom: -30px;
    right: -1px;
    border: 1px solid #000;
    background-color: #fff;
    transition: background-color 0.2s, bottom 0.5s;
}

#btn_1:hover, #btn_2:hover, #btn_3:hover,#btn_4:hover {
    background-color: #f0f0f0;
}

#btn_1.activate_btn, #btn_2.activate_btn, #btn_3.activate_btn, #btn_4.activate_btn {
    bottom: -170px; /* Ajustar según sea necesario para el despliegue hacia abajo */

}

#btn_1 i, #btn_2 i, #btn_3 i, #btn_4 i {
    transform: rotate(90deg);
    font-size: 22px;
    transition: transform 0.5s;
    i {
        transform: rotate(270deg);
    }
}


.sparcing {
    margin-bottom: 140px;
}
