@import '/views/director/css/_variables.css';

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--green);
    padding: 10px;
}

.logo__container>a {
    img {
        width: 50px;
        border-radius: 50%;
        outline: 3px solid #fff;
    }
}

.logo__container {
    width: 80%;
    display: flex;
    justify-content: center;
}

header>button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 50px;
    background-color: transparent;
    border: 5px solid #36675E;
    border-radius: 7px;
    color: #fff;
    font-size: 32px;
    transition: background-color .2s;

    &:hover {
        background-color: #36675E;
    }
}

nav>ul {
    margin: 0;
    padding: 0;
}

nav>ul>li {
    width: 200px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 20px 0;
    padding-left: 20px;
    border-bottom: 1px solid #9E9E9E;

    &:hover {
        background-color: #d14c4750;
    }

    &.selected__page {
        color: #fff;
        background-color: var(--red);

        a {
            color: #fff;
        }
    }
}

.link__menu {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.container__nav {
    position: relative;
    width: min-content;
    height: calc(100vh - 76.31px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #9E9E9E;
    transition: all .2s;
}

nav {
    width: min-content;
}

#citas {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 70px;
    right: 40px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #000;
    z-index: 5;

    h4 {
        font-weight: bold;
        color: #fff;
        background-color: #36675E;
        padding: 20px;
        border-radius: 8px 8px 0 0;
    }

    ul {
        height: calc(54px + 40px);
        overflow: auto;
    }

    ul>li {
        margin: 20px;
        font-weight: bold;

        &:hover {
            text-decoration: underline;
        }
    }
}

.citas__container {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000a;
    z-index: 10;

    .citas__modal {
        position: relative;
        width: 350px;
        background-color: #fff;
        font-size: 20px;
        border-radius: 10px;
        transition: box-shadow .2s;
        top: -15px;
        opacity: 0;
        animation: down .5s linear forwards;

        &:hover {
            box-shadow: 5px 5px 5px #fffa;
        }

        .closed_msg {
            display: flex;
            justify-content: flex-end;
        }

        * {
            padding: 20px;
            font-size: 20px;
        }

        h3 {
            color: #fff;
            background-color: #2c554d;
        }

        p {
            height: 100px;
            overflow: auto;
        }

        button {
            color: #fff;
            font-weight: bold;
            background-color: #983834;
            padding: 10px 20px;
            font-size: 16px;
        }
    }
}

.fa-bell {

    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: #f00;
        border-radius: 50%;
    }
}

#closedSession {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
    background-color: var(--red);
    transition: background-color .2s;
    text-decoration: none;
    text-align: center;

    &:hover {
        background-color: #812e2c;
    }
}

@keyframes down {
    from {
        top: -15px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}