main {
    display: flex;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-sizing: border-box;
    max-height: 560px;
    overflow: auto;
}

.container h1 {
    text-align: center;
    margin-bottom: 15px;
}

.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form__contrataciones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.form-buttons {
    grid-column: span 2;
    display: flex;
    justify-content: space-around;
    margin-top: 20px ;
    bottom: 100px;
    padding: 20px ;
    gap: 50px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn.limpiar {
    background-color: #f44336;
    color: white;
}

.btn.agregar {
    background-color: #4CAF50;
    color: white;
}

/* Media Queries for responsive design */
@media (max-width: 768px) {
    .form__contrataciones {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .form-buttons {
        grid-column: 1;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}
