/* Reset general y estilos base */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* Estilos para el layout principal */
main {
    display: flex;
}

.container__section {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.create__agenda {
    width: 100%;
    max-width: 900px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.0);
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

.create__agenda h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.container__data_agenda {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 150px;
}

.form-group label {
    margin-bottom: 5px;
}

input[type="date"], select, textarea, .form-control {
    width: 100%;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

textarea {
    height: 80px;
}

#button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

button, .btn {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.btn-primary {
    background-color: #4CAF50;
    color: white;
    width: auto; /* Ajusta el ancho según sea necesario */
}

.alert {
    width: 100%;
    max-width: 900px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

/* Estilos para el botón de cancelar */
.btn.btn-danger{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.btn.btn-danger:hover {
    background-color: darkred;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
        align-items: stretch;
    }

    .form-group {
        width: 100%;
    }

    #button-container button, #button-container .btn {
        width: 100%;
    }
}
